@charset "UTF-8";

// Mixin Animations
@mixin keyframe ($animation_name) {
	@-moz-keyframes #{$animation-name} {
		@content;
	}

	@-webkit-keyframes #{$animation-name} {
		@content;
	}

	@-o-keyframes #{$animation-name} {
		@content;
	}

	@keyframes #{$animation-name} {
		@content;
	}
}

@mixin animation ($delay, $duration, $animation, $iteration-count:1, $timing: linear, $fillmode: forwards) {
-webkit-animation-delay: $delay;
-webkit-animation-duration: $duration;
-webkit-animation-name: $animation;
-webkit-animation-fill-mode: $fillmode;
-webkit-animation-iteration-count: $iteration-count;

-moz-animation-delay: $delay;
-moz-animation-duration: $duration;
-moz-animation-name: $animation;
-moz-animation-fill-mode: $fillmode;
-moz-animation-iteration-count: $iteration-count;

-o-animation-delay: $delay;
-o-animation-duration: $duration;
-o-animation-name: $animation;
-o-animation-fill-mode: $fillmode;
-o-animation-iteration-count: $iteration-count;

animation-delay: $delay;
animation-duration: $duration;
animation-name: $animation;
animation-fill-mode: $fillmode;
animation-iteration-count: $iteration-count;

-webkit-transition-timing-function: linear;
transition-timing-function: linear;
// ease linear ease-in ease-out ease-in-out cubic-bezier(n,n,n,n)
}

// Hover animation
@include keyframe(breathe) {
	0% { @include translateY(0px);  }
	50% { @include translateY(12px);}
}

@include keyframe(gzaas) {
	0% { @include scale(0); }
	//80% { @include scale(1.2); }
	100% { @include scale(1); }
}