<form novalidate ng-submit="gazzear()">
    <div class="jumbotron">
        <input type="text" class="form-control" ng-model="text">
    </div>
    <button ng-click="gazzear()" class="btn btn-primary">¡gazzéalo!</button>
</form>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div class="navbar-right">
            <div class="navbar-right">
                <a class="navbar-brand" href="#">¿Que es Gzaas?</a>
            </div>
        </div>
    </div>
</nav>