<link ng-href='{{view.fontUrl}}' rel='stylesheet' type='text/css'>

<div class="jumbotron" style="{{view.backgroundStyle}}">
    <h1 style="{{view.fontStyle}}" class="animated zoomInUp">{{ gzaas.text }}</h1>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-center" role="form">
                <div class="form-group">
                    <button type="submit" class="btn btn-success animated swing" ui-sref="home">¡Nuevo Gzaas!</button>
                </div>
            </form>
        </div>
    </div>
</nav>