/** LAYOUT **/
html {
	font-size:55%;
}

input {
	//font-size:16px !important;
}

.index #container {
	width:90%;
	margin-left:5%;
}

.fork-github {
	img {
		width:u(10rem);
	}
}

/** HOME **/
#title {
	height:u(10.2rem);
}
#img_title {
	max-width:170px;
}

#index_screen .subtitle {
	
}