/** LAYOUT **/
html {
	font-size:55%;
}

html, body { overflow:hidden; }

input[type="text"] {
	font-size:16px !important;
}

.index #container {
	width:90%;
	margin-left:5%;
}

.inline-desktop { display:none; }
.inline-mobile { display:inline; }

/** HOME **/
#title {
	height:u(10.2rem);
}
#img_title {
	max-width:170px;
}

.center-vertical-container {
	width:85%;
	top:-15%;
}

#right_sidebar { bottom:50px; }

/** PREVIEW **/
#header-bar, #header-bar .header-bar-inside {
	max-width:100%;
	min-width:0;
}


#metatags_container {
	margin-left:5%;
	> li {
		display:none;
		&:first-child {
			display:inline;
		}
	}
}

.center_options {
	left:0;
	margin-left:0;
	position:relative;
	width:100%;
}

#gs_form_preview {
	width:42%;
	height:34px;
	@include box-sizing(border-box);
	padding:8px 7px 0;
}
#expand_form { display:none; }
#refresh_button { margin:5px 0 0 5px; }

#all_options_container {
	width:90%;
	left:5%;
	top:5%;
	margin-left:0;
}

.all_option_supra {
	margin: 10px auto;
    text-align: center;
    width: 100%;
}

.all_option_name {
	display:block;
}

.center_dialog {
	width:95%;
	.container {
		width:100%;
		@include box-sizing(border-box);
	}
}

#url_result {
	width:100%;
	@include box-sizing(border-box);
	height:50px;
}

.social_preview {
	font-size:u(2rem);
}


/** SEE GZAAS **/
#gs_social {
	display:none;
	opacity:0;
	visibility:hidden;
}