/** LAYOUT **/
html {
	font-size:55%;
}

input {
	font-size:16px !important;
}

.index #container {
	width:90%;
	margin-left:5%;
}

.fork-github {
	img {
		width:u(10rem);
	}
}

/** HOME **/
#title {
	height:u(10.2rem);
}
#img_title {
	max-width:170px;
}

/** PREVIEW **/
#header-bar, #header-bar .header-bar-inside {
	max-width:100%;
	min-width:0;
}


#metatags_container {
	margin-left:5%;
	> li {
		display:none;
		&:first-child {
			display:inline;
		}
	}
}

#gs_form_preview {
	width:42%;
	height:34px;
	@include box-sizing(border-box);
	padding:8px 7px 0;
}
#expand_form { display:none; }
#refresh_button { margin:5px 0 0 5px; }

#all_options_container {
	width:90%;
	left:5%;
}

.all_option_supra {
	margin: 10px auto;
    text-align: center;
    width: 100%;
}

.all_option_name {
	display:block;
}