$pixelBase : 16; /* 1 */

@function parseInt($n) {
	@return $n / ($n * 0 + 1); /* 2 */
}

@function u($values){ /* 3 */

      $list: (); /* 4 */

      @each $value in $values { /* 5 */

			@if ($value == 0 or type-of($value) != "number") {
				$list: append($list, $value);
			}
			
			@else {
			    
			    $unit : unit($value); /* 6 */
	            $val  : parseInt($value); /* 2 */
	
	            @if ($px-only) and ($unit == 'rem') { /* 7 */
					$list: append($list, ($val * $pixelBase) + px); /* 7 */
	            }
	
	            @else if($unit == 'px') or ($unit == 'rem') or ($unit == '%'){ /* 8 */
					$list: append($list, $value); /* 8 */
	            }
	
	            @else {
					@warn 'There is no unit conversion for #{$unit}'; /* 9 */
	            }
			}

      }

      @return $list(); /* 10 */

}